@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
// VAR
$font: 'Montserrat', sans-serif;

// Color :
$red: red;
$green: green;
$black: #000;
$box_background: #fff;
$box_radius: 15px;


/*_________ GNERAL_______*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    color: $red;
    font-family: $font;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

// PAGE_________________
h2,
h3 {
    color: $green;
}

.box {
    padding: 10px;
    width: 450px;
    border-radius: $box_radius;
    background-color: $box_background;
}

.box p:nth-child(2) {
    color: $black;
}

